.Main_page {
	color: black;
	background-color: #91cc64;
	border: 2px solid black;
	margin-bottom: 10px;
}
.Main-page {
	color: black;
	background-color: #b6c270;
	border: 2px solid black;
	margin-bottom: 10px;
}
.img {
	color: black;
	background-color: #b6c270;
	border: 2px solid black;
}
